{% extends 'common/web_layout.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}
{% block body %}
<div class="home">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-image" id="faq-image" alt="Null">
            <div class="menu-section">
                <nav class="navbar navbar-default">
                    <!--Brand and toggle get grouped for better mobile display--> 
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <div class="logo-section">
                                <div class="logo"></div>
                                <div class="caption-box">
                                    <div class="caption">ShipNext<sup>&#153;</sup></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!--Collect the nav links, forms, and other content for toggling--> 
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">home <span class="sr-only">(current)</span></a></li>
                            <li><a href="/?wwd" data-link="what_div">what we do</a></li>
                            <li><a href="/?hwd" data-link="how_div">how we do <span class="sr-only">(current)</span></a></li>
                            <li><a href="/?contact" data-link="contact_div">contact</a></li>
                            <li><a href="/?login" data-link="login_div">login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="">
                <div class="logo-desc">
                    <a href="/postad" class="btn btn-success post-add">post ad</a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="faq_head">Green Transport</div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>
                    <dl class="dl">
                        <ol>

                            <li >
                                India’s CO2 emissions from road transportation sector alone is 4.5% compared
                                to North America 1.04% and European countries 1.16%. energy sector 
                                emitted 1100.06 million tonnes of CO2 eq., of which 
                                719.31 million tonnes are emitted from electricity 
                                generation and 142.04 million tonnes from the 
                                transport sector.
                            </li>
                            <li >
                                The Indian transport sector contributed 142 million tonnes of CO2 and other  
                                toxic emissions, of which road transport contributed 87%.
                            </li>
                            <li >
                                These figures can reach hazardous levels of 1212 million tonnes by 2035.
                            </li>
                        </ol>
                        <dt class="da">
                            At Shipnext, we are all for a greener planet. And, we will do all we can 
                            to reduce our carbon emissions as a part of our responsibility 
                            towards mother nature. Here are some steps Shipnext follows to be environment-friendly.
                        </dt>
                        <ul>
                            <li >
                                Balance CO2 emissions with help of customer contribution. 
                                Example, plant a tree or direct the contribution towards recycling
                            </li>
                            <li >
                                Fill up spaces in trucks so that the numbers of trips are reduced. <b>Cargo-pooling</b>
                            </li>
                        </ul>

                    </dl>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'common/js/home.js' %}"></script>
{% endblock %}